{% extends "layout.html" %}

{% block body %}
    <h2>Home Page</h2>
    <h3>Rules</h3>
    <ol>
        <li>Person with the winning team gets £40.</li>
        <li>Person with the team that finishes last recieves £20.</li>
        <li>£60 goes to charity with the most nominations.</li>
    </ol>

    <h3>Charities</h3>
    The following charities were considered for the donation with ***** recieving the most votes.
    <ol>
        <li><a href="https://www.kickitout.org/">Kick It Out</a> - Kick It Out is English football’s equality and inclusion organisation.</li>
        <li><a href="https://camfed.org/">CAMFED</a> - CAMFED is a pan-African movement revolutionizing how girls’ education is delivered.</li>
        <li><a href="https://www.rainforestcoalition.org/">Coalition for Rainforest Nations</a> - We assist tropical governments, communities and peoples responsibly manage their rainforests.</li>
    </ol>
{% endblock %}